
#root{
  width: 50%;
  align-content: center;
}
html, body{
  font-family: sans-serif;
  color:#0D1B2A;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  
}

* {
  margin: 0;
  padding: 0
}
h1{
 text-align: center;
 color: #0D1B2A;
}
span {
  font-size:42px;
}

 a{
  font-size: 24px;
  text-align: center;
  color:#0D1B2A;
  padding: 24px;
  margin-bottom: 15px;
  text-decoration: none;
  border-bottom: #0D1B2A solid thin
}
a:hover{
  font-size: 32px;
  background-color: #d1d4d7;
}
p{
  font-size: 18px;
  text-wrap: wrap;
}

button {
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
}
button.delete {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}
button.complete {
  background-color: #148001;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button.add {
  padding: 0.8rem 1.5rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-bar {
  width: 100%;
  height:10% ;
  top: 0; 
  left:0;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #3498db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  top: 0;
  z-index: 1;
}

.nav-bar h1{
 
  font-size: 58px;
  margin-left: -15%;
}

.logo img{
  width: 10%;
  height: 10%;
  background: contain;
}


.side-bar {
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 18vw;
  padding-top: 10%;
  padding-left: 50px;
  padding-right: 15px;
  
}
.list-container{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  justify-content: center;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #f5f1f1;
  border-radius: 5px;
  color:#0D1B2A;
  transition: transform 0.2s ease;

}

.form-box {

  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  
}
.todo-input {
  flex: 1;
  margin-right: 15px;
  padding: 0.8rem;
  font-size: 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}


.footer {
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #E0E1DD;
  text-align: center;
  background-color: #3498db;

}
.footer a{
  font-size: 32px;
}
.footer a:hover{
  font-size: 36px;
  background-color: #d1d4d700;
}

.completed { text-decoration: line-through; }
